numpy>=1.23.5
numba>=0.56.4
scipy>=1.10.1
fbpca>=1.0
matplotlib>=3.7.1
stumpy>=1.11.1
rocket-fft

# currently claspy only supports old versions of some of the packages. Therefore we exclude it for now.
# claspy>=0.1.6